$white: #fff;
$black: #080808;
$bluelight: #8ca7c1;
$bluedark: #6f859d;
$olivegreenlight: #babf8c;
$olivegreendark: #969a6f;
$rosabrownlight: #c7a69f;
$rosabrowndark: #84695d;

* {
    margin: 0px;
    font-family: 'Open Sans Condensed';
    font-weight: 200;
}

.container {
    display: block;
    text-align: center;

    img {
        width: 100%;
        height: 25em;

    }
    .text {
        h1 {
            text-transform: uppercase;
            color: $white;
            font-size: 75px;
            font-weight: 600;
            margin-top: -5.2em;
            margin-left: -13em;

            span {
                color: $bluedark;
                font-weight: 600;

            }
        }
    
        h2 {
            text-transform: uppercase;
            color: $white;
            margin-left: -28em;
            font-size: 26px;
            line-height: 20%;

        }
        p {
            color: $bluelight;
            font-style: italic;
            font-size: 28px;
            padding-right: 1em;
            padding-top: 1em;
            display: block;
            text-align: right;
        }
    }
}