$redheader: #a00100;
$white: #fff;
$black: #080808;
$bluelight: #8ca7c1;
$bluedark: #6f859d;
$olivegreenlight: #babf8c;
$olivegreendark: #969a6f;
$rosabrownlight: #c7a69f;
$rosabrowndark: #84695d;

* {
    margin: 0px 1em;
}
.container {
    img {
        object-fit: contain;
        max-width: 100%;    
    }

    h1,
    span {
        margin: 0;
        text-transform: uppercase;
        color: $white;
        font-size: 70px;

        span {
            color: $bluedark;
        }
    }

    h2 {
        text-transform: uppercase;
        color: $white;
    }
}